h1 {
        text-align: center;
      }
      ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
        padding: 0;
      }
      body {
        padding: 0 25px;
      }
      table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
      }
      th {
        text-align: left;
        background: gray;
        padding: 5px;
      }
      tbody > tr:nth-child(odd) {
        background-color: gray;
      }